Source: ros-indigo-hector-gazebo
Section: misc
Priority: extra
Maintainer: Johannes Meyer <meyer@fsr.tu-darmstadt.de>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/hector_gazebo
Standards-Version: 3.9.2

Package: ros-indigo-hector-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-hector-gazebo-plugins, ros-indigo-hector-gazebo-thermal-camera, ros-indigo-hector-gazebo-worlds
Description: hector_gazebo provides packages related to to simulation of robots using gazebo (gazebo plugins, world files etc.)
